#  .envrc -*- mode: sh -*-
# See https://direnv.net/
# export VAR=VAL
# PATH_add val

# venv location
if [[ -z "$READTHEDOCS" ]]; then
    export UV_PROJECT_ENVIRONMENT="$PWD/.temp/venv"
else
    export UV_PROJECT_ENVIRONMENT="$READTHEDOCS_VIRTUALENV_PATH"
fi
if [[ -d "$UV_PROJECT_ENVIRONMENT" ]]; then
    source "$UV_PROJECT_ENVIRONMENT/bin/activate"
fi


# user local
PATH_add "$HOME/.local/bin"

# asdf
asdf env
asdf reshim

# For repo-local tasks
PATH_add "$PWD/.tasks"

# For polyglot glue
export POLYGLOT_ROOT="$PWD"

# Pre-commit skipping:
# export SKIP=""

# h : h : h+o+o+o
export LIBRARIAN_HANDLERS="lsp:py-lsp:mypy:flycheck"
