[DEFAULT]
# Note: Use configparser.ConfigParser(interpolation=configparser.ExtendedInterpolation(), allow_no_value=True)
## Misc settings that don't fit elsewhere
# (beyond type_instance: atom and bind_s : False)

# Used for module importing
MODULE_SPLIT_REG        = [._]

[Data]
# The base root name in a data structure:
ROOT      = __root
TYPE_BOTTOM_NAME   = ATOM

[Type.Primitive]
# Names to be turned into the base type sentences
ACTION
COMPONENT
CONTAINER
OPERATOR
QUERY
REGEX
RULE
SENTENCE
STRING
TRANSFORM

[Value.Structure]
# These are used in AcabValue._data
# to supplement the actual value
AT_BIND
BIND
CONSTRAINT
QUERY_FALLBACK
NAME
NEGATION
TAG
TYPE_INSTANCE
OPERATOR
QUERY
PARAMS
SEN

[Symbols]
[Aliases]
