# Note: Use configparser.ConfigParser(interpolation=configparser.ExtendedInterpolation())

[DEFAULT]
# Default Data for any value:
# Note: type instance is not shown as it needs to be constructed elsewhere.
# See type_base and acabvalue
VALUE_DATA = ${Parsing.Structure:BIND_S} : False
NODE_DATA  = ${Parsing.Structure:OPERATOR_S} : EXOP.DOT


[REPL]
# TODO specify default working memory
WORKING_MEMORY = acab.engines.trie_engine.TrieEngine
# TODO specify default module loads, split on newline
MODULES = acab.modules.operators.standard_operators
          acab.modules.structures.standard_structures
          acab.modules.analysis.typing
# TODO Specify default prompts
PROMPT = ACAB REPL:
PROMPT_ML = ...

MULTI_LINE_REGEX = ^:[{}]$

[Printing]
TYPE_FMT_S = ::{}
# Note: Strip " out:
TAB_S      = "    "

[Parsing]
COMMENT_RE        = //(?:\\\\\\n|[^\\n])*
WHITE_SPACE       = ' \t\r'
WORD_COMPONENT_S  = ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz_
OPERATOR_SYNTAX_S = %%^&*_-+={}[]|<>?~§;⊂⊃∨∧⧼⧽¿£ΔΣΩ∩∪√∀∈∃¬∄⟙⟘⊢∴◇□⚬

PATH_PREFIX       = λ
VAR_SYMBOL_S      = $
AT_VAR_SYMBOL_S   = @
TAG_SYMBOL_S      = #
NEGATION_SYMBOL_S = ~
QUERY_SYMBOL_S    = ?

END_S             = end
CTX_COLLAPSE_S    = ctx.collapse

[Parsing.Statements]
RULE_HEAD_S       = ρ
QUERY_HEAD_S      = γ
TRANSFORM_HEAD_S  = τ
ACTION_HEAD_S     = α
FACT_HEAD_S       = Σ
UUID_HEAD         = υ

AGENDA_HEAD_S     = Agenda
LAYER_HEAD_S      = Layer
PIPE_HEAD_S       = Pipeline

[Parsing.Structure]
# TODO distinguish these from *value* data keys
ACTION_S         = action
ARG_S            = args
AT_BIND_S        = at_bind_
BIND_S           = bind
CONSTRAINT_S     = constraints
DEFAULT_ACTION_S = default_action
FALLBACK_S       = fallback
NAME_S           = name
NEGATION_S       = negated
OPERATOR_S       = operator
OP_CLASS_S       = operator_class
QUERY_S          = query
RULE_S           = rule
SEN_S            = sentence
STATEMENT_S      = statement
TAG_S            = tag
TRANSFORM_S      = transform
VALUE_S          = value
VALUE_TYPE_S     = value_type

[Data.Trie]
ROOT_S       = __root

[Data.Value]
# TODO add keys for value data


[WorkingMemory.TrieWM]
NODE_S        = node
MAIN_CLAUSE_S = main_clause
LEFT_S        = left
RIGHT_S       = right
SOURCE_S      = source
REPLACE_S     = replace
TARGET_S      = target
ANNOTATION_S  = annotations
RULE_NAME_S   = rule_name
ACTION_VAL_S  = action_values


[WorkingMemory.TrieWM.Parsing]
EXOP.DOT = .
EXOP.EX  = !


[Module.TYPING]
TYPE_DEF_S    = type_definition
OP_DEF_S      = operator_definition
SUM_DEF_S     = sum_definition
STRUCT_S      = structure
TVAR_S        = type_vars
SYNTAX_BIND_S = syntax_bind

# Parsing:
# Note: Strip the ' out
DELIM_S       = ', '

# Typing:
SUM_HEAD_S        = Σσ
STRUCTURE_S       = σ
FUNC_S            = λ
TYPE_CLASS_S      = γ


[Module.Numbers]
#Use to signify a decimal, eg: 34d423 is 34.423
DECIMAL_S         = d

[Module.Network]
DEFAULT_PORT       = 50000
DEFAULT_BLOCKSIZE  = 1024
DEFAULT_HEADERSIZE = 128
DEFAULT_BACKLOG    = 10
DEFAULT_HOST       = localhost

[Module.Time]
BIND_S         = util.BIND_S
NAME_S         = util.NAME_S
OPT_S          = "opt"
PATTERN_S      = "pattern"
PATTERN_T      = Enum("Pattern Type", "DISCRETE ANALOG")
TIME_T         = Enum("Time Type", "CLOCK EVENT SET SYMBOLIC")
Time           = Fraction
VALUE_S        = util.VALUE_S
VALUE_TYPE_S   = util.VALUE_TYPE_S
TIME_EVENT_S   = "event"
TIME_PATTERN_S = "pattern"

