{# vis_funcs.rst.jinja -*- mode: Jinja2 -*- #}
{% set visible_functions = visible_children|selectattr("type", "equalto", "function")|list %}
{% set show_funcs_sum = visible_functions and "show-module-summary" in autoapi_options %}
  
{% if show_funcs_sum %}
    {% set mod_ns.children = mod_ns.children + visible_functions %} 

Functions
---------

.. autoapisummary::

    {% for function in visible_functions %}
    {{ function.id }}
    {% endfor %}
{% endif %}
