{# vis_classes.rst.jinja<2> -*- mode: Jinja2 -*- #}
{% import "python/utils.jinja" as utils %} 
{% set viable_classes = visible_classes|rejectattr("obj.bases", "contains", "enum", "Protocol")|list %}
{% set show_classes_sum = viable_classes and "show-module-summary" in autoapi_options %}
  
{% if show_classes_sum %} 
  {% set mod_ns.children = mod_ns.children + viable_classes %} 
  

  {{ utils.heading("Classes", "-") }}

.. autoapisummary::

    {% for klass in viable_classes %}
    {{ klass.id }}
    {% endfor %}
{% endif %}  
