[DEFAULT]
# Note: Use configparser.ConfigParser(interpolation=configparser.ExtendedInterpolation(), allow_no_value=True)
## Misc settings that don't fit elsewhere
# (beyond type_instance: atom and bind_s : False)

[LOGGING]
# Control detailed logging elements here
FORMAT   = "%(levelname)s:%(message)s"
SEMANTIC = WARNING # Separate file level semantic trace


[SEMANTICS]
#Semantic Hint Values
QUERY
ACTION
TRANSFORM
RULE
AGENDA
LAYER
PIPELINE

[Data]
# The base root name in a data structure:
ROOT                  = __root
TYPE_BOTTOM_NAME      = ATOM
DEFAULT_SETUP_METHOD  = _default_setup
DEFAULT_UPDATE_METHOD = _update_node

[Type.Primitive]
# Names to be turned into the base type sentences
# on top of TYPE_BOTTOM_NAME
ACTION
COMPONENT
STRUCTURE
CONTAINER
OPERATOR
QUERY
REGEX
RULE
SENTENCE
STRING
TRANSFORM

[Value.Structure]
# These are used in AcabValue._data
# to supplement the actual value
AT_BIND
BIND
CONSTRAINT
NAME
NEGATION
OPERATOR
PARAMS
QUERY
QUERY_FALLBACK
SEN
TAG
TYPE_INSTANCE
SEMANTIC_HINT

[Structure.Components]
# Used for Production Structure's sub-structure
TRANSFORM
QUERY
ACTION

[Symbols]
[Aliases]

[MODAL]
# Modalities to load.
# DONT FORGET: KEYS ARE STORED *lowercase* in configparsers
# will insist there is a [Modal.{}] section
# and [Modal.{}.Symbols] section for each name
exop
# classic
# judge
# first
# set
# fsm
# lifter
