[MODAL]
# Modalities to load.
# DONT FORGET: KEYS ARE STORED *lowercase* in configparsers
# will insist there is a [Modal.{}] section
# and [Modal.{}.Symbols] section for each name
exop
# classic
# judge
# first
# set
# fsm
# lifter

[Config.Constraints]
# LHS value/s must be found in RHS
# Splits on '/' for section:parameter
Modal.exop.Symbols = Modal.exop/ENUM_VALUES
Modal.exop/default = Modal.exop/ENUM_VALUES

[Modal.Symbols]
# EXOP    = .!
# CLASSIC = □◇
# JUDGE   = ⊨⊢
# FIRST   = ∀∃
# SET     = ∈∩∪⊂⊃
# FSM     = ⇒⇔
# LIFTER  = ⤴ ⤷

# Reminder: keys are stored lowercase
[Modal.exop]
# The Exclusion operator name:
ENUM_VALUES  = DOT EX
# Default exclusion operator for a TrieWM Node.
# Either DOT or EX
DEFAULT      = DOT

[Modal.exop.Symbols]
# TODO make this obsolete, use registered MODAL.Symbols sets
# Symbols to use for exclusion operators
DOT = .
EX  = !
