[Modal.Symbols]
# EXOP    = .!
# CLASSIC = □◇
# JUDGE   = ⊨⊢
# FIRST   = ∀∃
# SET     = ∈∩∪⊂⊃
# FSM     = ⇒⇔
# LIFTER  = ⤴ ⤷

# Reminder: keys are stored lowercase
[Modal.exop]
# The Exclusion operator name:
ENUM_VALUES  = DOT EX
# Default exclusion operator for a TrieWM Node.
# Either DOT or EX
DEFAULT      = DOT

[Modal.exop.Symbols]
# TODO make this obsolete, use registered MODAL.Symbols sets
# Symbols to use for exclusion operators
DOT = .
EX  = !
