[Parse.Structure]
# TrieWM
NODE
LEFT
RIGHT
SOURCE
REPLACE
TARGET
ANNOTATION
RULE_NAME
# Time
OPT
PATTERN
TIME_EVENT
TIME_PATTERN

[Parse.Patterns]
EXTENDED_LANGUAGE_SYNTAX= αβγδεζθικλμνορστυχψωΑΒΓΔΕΖΘΙΚΛΜΝΟΡΣΤΥΧΨΩ

[Typing.Primitives]
# Added to the normal base primitives
PRIMITIVE
TYPE_DEF
OP_DEF
SUM_DEF
STRUCT
TVAR
SYNTAX_BIND

[Symbols]
NOMINAL    = τ
SUM        = Σσ
STRUCTURE  = σ
TYPE_CLASS = γ

[Module.Numbers]
# Parser to use for Numbers:
# int, decimal, fraction, all
USE_PARSER = all
ALLOW_NEG = True
#Use to signify a decimal, eg: 34d423 is 34.423
DECIMAL        = d
# TODO add primitive types

[Module.Network]
DEFAULT_PORT       = 50000
DEFAULT_BLOCKSIZE  = 1024
DEFAULT_HEADERSIZE = 128
DEFAULT_BACKLOG    = 10
DEFAULT_HOST       = localhost

[Module.Time]
TIME_FORMAT = {}/{}

[Module.REPL]
# TODO specify default working memory
# ENGINE           = acab.modules.engines.configured.basic
ENGINE           = acab.modules.engines.configured.exlo
# specify default module loads, split on newline
MODULES          = acab.modules.operators.query
                   acab.modules.operators.transform
                   acab.modules.operators.action
                   acab.modules.analysis.typing
                   acab.core.parsing.component_dsl
                 # acab.modules.structures.standard_structures
# Specify default prompts
PROMPT           = "ACAB REPL"
PROMPT_ML        = "... "
INTRO            = "Welcome to ACAB.\nType 'tutorial' for a tutorial.\nType 'help' or '?' to list commands.\nType ':sc' to list command shortcuts.\nType ':q' to quit."

# Need to escape $ because of interpolation
MULTI_LINE_START = :{
MULTI_LINE_END   = :}

[Module.REPL.shortcuts]
break     = b
ctx       = c
echo      = e
exit      = q
load      = l
print ctx = pc
print wm  = pwm
save      = s
step      = t
shortcuts = sc
parser    = dsl
forcep    = fp

[Module.Repl.CommandImports]
acab.modules.repl.commands.break_cmd
acab.modules.repl.commands.exit_cmd
acab.modules.repl.commands.force_parser_cmd
acab.modules.repl.commands.print_cmd
acab.modules.repl.commands.stat_cmd
acab.modules.repl.commands.tutorial_cmd
acab.modules.repl.commands_control
acab.modules.repl.commands_core
acab.modules.repl.commands_dependent
acab.modules.repl.commands_info


[Module.Debug]
IMPORT          = acab.modules.debugger.running_debugger
DEBUGGER        = RunningDebugger

[Module.DFSWalk]
WALK_SEM_HINT = WALK
