[Parse.Structure]
# TrieWM
NODE
LEFT
RIGHT
SOURCE
REPLACE
TARGET
ANNOTATION
RULE_NAME
# Time
OPT
PATTERN
TIME_EVENT
TIME_PATTERN

[Module.Time]
TIME_FORMAT = {}/{}

[Module.Debug]
IMPORT          = acab.modules.debugger.running_debugger
DEBUGGER        = RunningDebugger

[Module.DFSWalk]
WALK_SEM_HINT = WALK

[Module.Structures.Trie.Semantics]
TRIE
