[Parse]
DEBUG_PARSERS = False
# Default sugar for the RebindOperator action:
REBIND_SUGAR  =  §

[Parse.Patterns]
# Basic Patterns for Parsing
# Note: Strip " out:
MODULE_SPLIT_REG        = [._]
TAB                     = "    "
TYPE_FMT                = ::{}
COMMENT_RE              = "//.*\n"
WHITE_SPACE             = ' \t'
WORD_COMPONENT          = ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz_
OPERATOR_SYNTAX         = %%^&*_-+={}[]|<>?~§;⊂⊃∨∧⧼⧽¿£ΔΣΩ∩∪√∀∈∃¬∄⟙⟘⊢∴◇□⚬!


[Symbols]
# $$ escapes interpolation of $:
ANON_VALUE     = ∅
BIND           = $$
AT_BIND        = @
END            = end
FUNC           = λ
NEGATION       = ~
QUERY          = ?
TAG            = #
TYPE_BASE      = ⟘
TYPE_SEN       = ::
FLATTEN        = ♭
SHARP          = ♯

REBIND         = ->
SUGAR          = =>

[Aliases]
RULE         = ρ
QUERY        = γ
TRANSFORM    = χ
ACTION       = α
FACT         = Σ
UUID         = υ

AGENDA       = Agenda
LAYER        = Layer
PIPE         = Pipeline

CTX_COLLAPSE = ctx.collapse

[Parse.Structure]
# TODO enforce Parsing.Syntax and Parsing.Structure have a 1:1 relationship?
# These are used in parse results
# ie: could be a single enum
ACTION
ANNOTATION
ARG
AT_BIND
BIND
CONSTRAINT
DEFAULT_ACTION
END
FUNC
HEAD_ANNOTATION
LEFT
MODAL
NAME
NEGATION
OPERATOR
OP_CLASS
PARAM
POST_ANNOTATION
QUERY
QUERY_FALLBACK
RIGHT
RULE
SEN
STATEMENT
TAG
TARGET
TRANSFORM
TYPE_INSTANCE
VALUE
