[Parse.Patterns]
# Basic Patterns for Parsing
# Note: Strip " out:
MODULE_SPLIT_REG        = [._]
TAB                     = "    "
TYPE_FMT                = ::{}
COMMENT_RE              = "#.*$$"
WHITE_SPACE             = ' \t'
WORD_COMPONENT          = ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz_
OPERATOR_SYNTAX         = %%^&*_-+={}[]|<>?~§;⊂⊃∨∧⧼⧽¿£ΔΣΩ∩∪√∀∈∃¬∄⟙⟘⊢∴◇□⚬


[Symbols]
# $$ escapes interpolation of $:
ANON_VALUE     = _
BIND           = $$
AT_BIND        = @
END            = end
FUNC           = λ
NEGATION       = ~
QUERY          = ?
TAG            = #
TYPE_BOTTOM    = ⟘
TYPE_SEN       = ::

REBIND         = ->
SUGAR          = =>

[Aliases]
RULE         = ρ
QUERY        = γ
TRANSFORM    = τ
ACTION       = α
FACT         = Σ
UUID         = υ

AGENDA       = Agenda
LAYER        = Layer
PIPE         = Pipeline

CTX_COLLAPSE = ctx.collapse

[Parse.Structure]
# TODO enforce Parsing.Syntax and Parsing.Structure have a 1:1 relationship
# These are used in parse results
# ie: could be a single enum
ACTION
AT_BIND
BIND
CONSTRAINT
DEFAULT_ACTION
END
FUNC
MODAL
NAME
NEGATION
OPERATOR
OP_CLASS
QUERY
QUERY_FALLBACK
RULE
SEN
STATEMENT
TAG
TRANSFORM
TYPE_INSTANCE
VALUE

# deprecate: ARG use PARAMS instead
PARAMS
