[Print.Data]
SUPPRESSION_TYPES       =
UUID_CHOP               = 1

[Print.Patterns]
# Caution: Can easily produce un-reparseable strings
WRAP_FORMAT         = ()
# Note: Strip " out:
SPACE               = " "
INDENT              = "    "
TAB                 = "    "
PARAM_JOIN          = ", "
CONTAINER_JOIN      = '\n'
PRINT_SENTINEL_JOIN = '\n'
SEN_JOIN            = ''
# The quotes are literal:
STR_WRAP            = \"
REGEX_WRAP          = /
PARAM_WRAP          = |

[Symbols]
# Note: strip " out:
FALLBACK_MODAL = "."
