[Print.Data]
SUPPRESSION_TYPES       =
UUID_CHOP               = 1
SPACER_SIZE             = 30

[Print.Patterns]
# Caution: Can easily produce un-reparseable strings
WRAP_FORMAT         = ()
# Note: Strip " out:
SPACE               = " "
INDENT              = "    "
TAB                 = "    "
PARAM_JOIN          = ", "
CONTAINER_JOIN      = '\n'
PRINT_SEPARATOR     = '\n'
SEN_JOIN            = ''
# The quotes are literal:
STR_WRAP            = \"
REGEX_WRAP          = /
PARAM_WRAP          = |


[Print.Annotations]
# A List of AcabValue data fields to try printing as annotations
#
CONSTRAINT
TYPE_INSTANCE

[Print.Signals]
ANNOTATIONS
ANNOTATIONS_FINAL
SYMBOL
CONSTRAINT
IMPLICIT_CONTAINER
MODAL
TAGS

[Symbols]
# Note: strip " out:
FALLBACK_MODAL = .
