[Parse.Patterns]
TYPE_SYNTAX_EXT     = αβγδεζθικλμνορστυχψωΑΒΓΔΕΖΘΙΚΛΜΝΟΡΣΤΥΧΨΩ
PARAM_JOIN          = ", "

# Additional print signals for typing:
[Print.Signals]
TYPE_INSTANCE
TYPE_DEF
SUM_TYPE
OP_DEF
TYPE_CLASS
SYNTAX_BIND

[Parse.Structure]
SYNTAX_BIND

[Typing.Primitives]
# Added to the normal base primitives
PRIMITIVE
TYPE_DEF
OP_DEF
SUM_DEF
STRUCT
TVAR
SYNTAX_BIND
TYPE_CLASS

[Symbols]
NOMINAL    = τ
SUM        = Σσ
STRUCTURE  = σ
TYPE_CLASS = γ
