[Parse.Patterns]
EXTENDED_LANGUAGE_SYNTAX= αβγδεζθικλμνορστυχψωΑΒΓΔΕΖΘΙΚΛΜΝΟΡΣΤΥΧΨΩ

# Additional print signals for typing:
[Print.Signals]
TYPE_INSTANCE
TYPE_DEF
SUM_TYPE
OP_DEF
TYPE_CLASS

[Typing.Primitives]
# Added to the normal base primitives
PRIMITIVE
TYPE_DEF
OP_DEF
SUM_DEF
STRUCT
TVAR
SYNTAX_BIND


[Symbols]
NOMINAL    = τ
SUM        = Σσ
STRUCTURE  = σ
TYPE_CLASS = γ
