[Print.Data]
SUPPRESSION_TYPES       =
UUID_CHOP               = 1
DEFAULT_SEMANTIC_SEARCH = UUID NAME ACAB_T PY_T

[Print.Patterns]
# Can easily produce un-reparseable strings
WRAP_FORMAT             = ({})
# Note: Strip " out:
TAB                     = "    "
PARAM_JOIN              = ", "
CONTAINER_JOIN          = '\n'
PRINT_SENTINEL_JOIN     = '\n'
SEN_JOIN                = ''


[Symbols]
FALLBACK_MODAL = " "
