[DEFAULT]
# Note: Use configparser.ConfigParser(interpolation=configparser.ExtendedInterpolation(), allow_no_value=True)
## Misc settings that don't fit elsewhere
# (beyond type_instance: atom and bind_s : False)

[LOGGING]
# Control detailed logging elements here
# If True, use acab_config.utils.log_formatter
# else just install the AcabMinimalLogRecord
ACAB          = True

STREAM_FORMAT = {levelname:10} : {message}
FILE_FORMAT   =

# Overriden by CLI for the repl, otherwise:
STREAM_LEVEL  = WARNING
FILE_LEVEL    = DEBUG

SEMANTIC      = WARNING # Separate file level semantic trace

# If True, attach a warning log to node and value destructors:
DEL           = True

[Parse]
DEBUG_PARSERS = True
