{# vis_excs.rst.jinja -*- mode: Jinja2 -*- #}
{% set visible_exceptions = visible_children|selectattr("type", "equalto", "exception")|list %}
{% set show_excs_sum = visible_exceptions and "show-module-summary" in autoapi_options %}
   
{% if show_excs_sum %}
   {% set mod_ns.children = mod_ns.children + visible_exceptions %} 

Exceptions
----------

.. autoapisummary::

   {% for exception in visible_exceptions %}
   {{ exception.id }}
   {% endfor %}

{% endif %} 
